<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>m4PI - Here to Help</title>
  <meta name="description" content="m4PI">
  <meta name="author" content="m4PI">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="../static/css/raleway.css" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Javascript
  ------------------------------------------------- -->
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/site.js"></script>
  <script>
    $( document ).ready(function() {
        $('.hide').hide();
    });

  </script>
  <script>
 function scroll(where){
	where="#"+where;
    $('html,body').animate({
        scrollTop: $(where).offset().top-65},
        'slow');
	}

  function pop_slide(where){
	where="#"+where;
        $(where).slideToggle("slow");
  }

  </script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

<div class="navbar-spacer"></div>

     <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
	<li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#moreNavPopover">Help</a>
            <div id="moreNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" onclick="scroll('faq')">FAQs</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" onclick="scroll('ask')">Ask A Question!</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" onclick="scroll('contact')">Contact Us!</a>
                </li>
              </ul>
            </div>
          </li>
	<li class="navbar-item"><a class="navbar-link" href="http://www.google.ca">Create!</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/signin">Sign In!</a></li>
	<li class="navbar-item"><a class="navbar-link" href="/signup">Sign Up!</a></li>
        </ul>
      </div>
    </nav> 

<div class="heading" >
  <div class="container" id="intro">
      	<div class="row" >
		<div class="one-half column">
  			<h1>Need Help?</h1>
		</div>
		<div class="one-half column">
			<img src="../static/images/help.png">
		</div>
		
	</div>
  </div>
</div>

<div class="parallax"></div>

<div class="info-block" >
  <div class="container" >
    <div class="row" style="margin-top: 10%">
     <h1 id="faq">FAQ</h1>
    </div>
    <div class="row" >

    </div>
  </div>
</div>

<div class="parallax"></div>

<div class="info-block">
  <div class="container">
   <div class="row" id="ask">
     <p> Soon to be benefits... </p>
   </div>
  </div>
</div>

<div class="parallax"></div>

<div class="info-block" >
 <div class="container">
 <div class="row">
  <div class="footer" id="contact">
    <p ><i class="material-icons">code</i> Site Developed By: m4PI  <i class="material-icons">code</i></p> 
    <p><a href="mailto:nicholas.giamblanco@ryerson.ca?Subject=m4Pi%20Site" target="_top">nicholas.giamblanco@ryerson.ca</a></p>
   </div>
  </div>
  </div>
</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
